@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

footer {
  background-color: #353535;
  padding: 15px 0 40px 0;
}
footer .footer-container {
  max-width: 1300px;
  margin: auto;
}
footer .footer-container img {
  width: 12rem;
  margin: 1rem 0;
  filter: brightness(9999%);
}
footer .footer-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .footer-container ul li a {
  line-height: 2;
  color: #fff;
}
footer .footer-container ul li a i {
  font-size: 15px;
  width: 18px;
}

#page_header {
  position: relative;
}
#page_header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75px;
}
#page_header .logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}
#page_header .logo a img {
  width: 50%;
}
#page_header i {
  font-size: 20px;
  padding: 27px;
  position: absolute;
}

.favori {
  font-size: 30px;
  margin: 0 20px 10px 0;
  cursor: pointer;
}
.favori .fa-solid {
  color: #9356DC;
  display: none;
  transition: opacity 0.5s;
  opacity: 0.5;
}
.favori .fa-solid:hover {
  opacity: 1;
}
.favori:hover {
  opacity: 1;
}
.favori:hover > .fa-solid {
  display: unset;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.favori:hover > .fa-regular {
  display: none;
}

main #back-picture {
  position: relative;
}
main #back-picture img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
main #menu {
  background-color: #F6F6F6;
  padding: 15px 15px 25px 15px;
  border-radius: 35px;
  margin-top: -50px;
  position: relative;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
main #menu .nom-restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #menu .nom-restaurant h1 {
  font-size: 2.6rem;
}
main #menu form {
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
}
main #menu form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin-bottom: 30px;
}
main #menu form fieldset legend {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  padding: 0 0 5px 0;
}
main #menu form fieldset legend::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}
main #menu form fieldset input {
  position: absolute;
  left: -9999px;
}
main #menu form fieldset label {
  opacity: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
}
main #menu form fieldset label header, main #menu form fieldset label header > * {
  flex: 1;
  white-space: nowrap; /* pas de retour à la ligne */
  text-overflow: ellipsis; /* affiche "..." */
  overflow: hidden; /* cache le texte qui dépasse */
  margin: 0;
}
main #menu form fieldset label .prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 700;
  padding-left: 0.5rem;
}
main #menu form fieldset label .checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 6rem;
  margin: -1rem -7rem -1rem 1rem;
  transition-duration: 0.5s;
}
main #menu form fieldset label .checkmark .checkmark-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
  border-radius: 100px;
}
main #menu form fieldset label .checkmark .checkmark-block i {
  font-size: 20px;
  color: #99E2D0;
}
main #menu form fieldset label:hover .checkmark {
  margin-right: -1rem;
}
main #menu form fieldset label:hover .checkmark-block {
  animation: rotation 0.5s;
}
@keyframes rotation {
  0% {
    transform: rotate(-280deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes onLoad {
  0% {
    opacity: 0%;
    transform: translateY(15%);
  }
  50% {
    transform: translateY(-15%);
    opacity: 25%;
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
main #menu form fieldset .order1 {
  animation: onLoad 1s ease-in-out forwards;
  animation-delay: 0ms;
}
main #menu form fieldset .order2 {
  animation: onLoad 1s ease-in-out forwards;
  animation-delay: 200ms;
}
main #menu form fieldset .order3 {
  animation: onLoad 1s ease-in-out forwards;
  animation-delay: 400ms;
}
main #menu form fieldset .order4 {
  animation: onLoad 1s ease-in-out forwards;
  animation-delay: 600ms;
}
main #menu form fieldset .order5 {
  animation: onLoad 1s ease-in-out forwards;
  animation-delay: 800ms;
}
main #menu form fieldset .order6 {
  animation: onLoad 1s ease-in-out forwards;
  animation-delay: 1000ms;
}
main #menu form fieldset .order7 {
  animation: onLoad 1s ease-in-out forwards;
  animation-delay: 1200ms;
}
main #menu form fieldset .order8 {
  animation: onLoad 1s ease-in-out forwards;
  animation-delay: 1400ms;
}
main #menu form fieldset .order9 {
  animation: onLoad 1s ease-in-out forwards;
  animation-delay: 1600ms;
}
main #menu form fieldset .order10 {
  animation: onLoad 1s ease-in-out forwards;
  animation-delay: 1800ms;
}
main #menu form #btn_commande {
  background: linear-gradient(163deg, #FF79DA 0%, #9356DC 61%);
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  align-self: center;
  width: 60%;
}
main #menu form #btn_commande:hover {
  background: linear-gradient(163deg, #FF79DA 27%, #9356DC 82%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

@media screen and (min-width: 1050px) {
  main #back-picture img {
    height: 430px;
  }
  main #menu form {
    justify-content: center;
    flex-flow: row wrap;
    column-gap: 3%;
  }
  main #menu form fieldset {
    width: 30%;
  }
  main #menu form #btn_commande {
    width: 30%;
    margin: auto;
  }
}

/*# sourceMappingURL=menu.css.map */
