/* GLOBAL */
:root{
    --main-color : #9356DC;
    --second-color : #FF79DA;
    --third-color : #99E2D0;
    --white-color : #FFFFFF;
    --light-color : #DEEBFF;
    --dark-color : #EAEAEA;
    --darker-color : #353535;
    --back-color : #F6F6F6;
    --border-color: #D9D9D9;
    --soft-shadow-color: rgba(0, 0, 0, 0.05);
    --hard-shadow-color: rgba(0, 0, 0, 0.2);
}

* {box-sizing : border-box}


html {font-size : 62.5%}

body {
    font-family: 'Roboto', sans-serif; 
    font-size: 1.8rem; 
}

a{
    color: black;
    text-decoration: none;
}

h2{
    font-family: 'Shrikhand', sans-serif; 
}
/* End GLOBAL */

header{
    width: 100%;
    height: 75px;

    display: flex;
    align-items: center;
}

header i{
    font-size: 20px;
    padding: 20px;
}

header a{
    display: flex;
    justify-content: center;
}

header a img{
    width: 50%;
    margin-left: -60px;
}

#back-picture{
    position: relative;
}

#back-picture img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

#menu{
    background-color: var(--back-color);
    padding: 15px 15px 25px 15px;
    border-radius: 35px;
    margin-top: -50px;
    position: relative;
}

#menu .nom-restaurant{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.favori{
    font-size: 30px;
    margin: 0 20px 10px 0;
    cursor: pointer;
}

.favori .fa-solid{
    color: var(--main-color);
    display: none;
}

.favori:hover>.fa-solid{
    color: var(--main-color);
    display: unset;
}

.favori:hover>.fa-regular{
    display: none;
}

#menu form{
    display: flex;
    flex-flow: column;
    margin-bottom: 30px;
}

#menu form fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin-bottom: 30px;
}

#menu form fieldset legend{
    box-shadow: 0px 3px 0px 0px  var(--third-color);
}

#menu form input{
    position: absolute;
    left: -9999px;
}

#menu form label{
    margin: 10px 0px;
    padding: 10px 15px 10px 10px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--hard-shadow-color);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    cursor: pointer;
    overflow: hidden;
    /* max-width: 100%; */
}


#menu form label h3{
    width: 100%;
    
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#menu form label p{
    max-width: 80%;
    margin: 0; 
    overflow: hidden; /* cache le texte qui dépasse */
    white-space: nowrap; /* pas de retour à la ligne */
    text-overflow: ellipsis; /*...*/
}

#menu form label .prix{
    font-weight: 900;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-left: 5px;
}

#menu form label .checkmark{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin: -10px -50px -10px 10px;

    background-color: var(--third-color);
}

#menu form label .checkmark-block{
    height: 16px;
    width: 16px;
    background-color: var(--white-color);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

#menu form label div i{
    font-size: 20px;
    color: var(--third-color)
}



#menu form button{
    background: linear-gradient(163deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 61%); 
    border: none;
    color: var(--white-color);
    padding: 15px 32px;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 var(--hard-shadow-color);
    cursor: pointer;
    align-self: center;
    width: 60%;
}

#menu form button:hover{
    /* background: linear-gradient(163deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 61%); */
    background: linear-gradient(163deg, rgba(255,121,218,1) 27%, rgba(147,86,220,1) 82%);
    transform: scale(1.01);
}















footer{
    background-color: var(--darker-color);
    padding: 15px 15px 40px 15px;
}

footer img{
    width: 40%;
    filter: brightness(9999%); 
    margin: 10px 0;
}


footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul i{
    font-size: 15px;
    width: 18px;
}

footer ul li a{
    line-height: 2;
    color: white;
}

