/* GLOBAL */
:root{
    --main-color : #9356DC;
    --second-color : #FF79DA;
    --third-color : #99E2D0;
    --white-color : #FFFFFF;
    --light-color : #DEEBFF;
    --dark-color : #EAEAEA;
    --darker-color : #353535;
    --back-color : #F6F6F6;
    --border-color: #D9D9D9;
    --soft-shadow-color: rgba(0, 0, 0, 0.05);
    --hard-shadow-color: rgba(0, 0, 0, 0.2);
}

* {box-sizing : border-box}


html {font-size : 62.5%}

body {
    font-family: 'Roboto', sans-serif; 
    font-size: 1.8rem; 
}

a{
    color: black;
    text-decoration: none;
}

h1{
    font-family: 'Shrikhand', sans-serif; 
}

/* End GLOBAL */

header{
    position: relative;
}

header .logo{
    width: 100%;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;
}

header i{
    font-size: 20px;
    padding: 27px;
    position: absolute;
}

header .logo a{
    display: flex;
    justify-content: center;
}

header .logo a img{
    width: 50%;
}

#back-picture{
    position: relative;
}

#back-picture img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

#menu{
    background-color: var(--back-color);
    padding: 15px 15px 25px 15px;
    border-radius: 35px;
    margin-top: -50px;
    position: relative;

}

#menu .nom-restaurant{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu .nom-restaurant h1{
    font-size: 2.6rem;
}

.favori{
    font-size: 30px;
    margin: 0 20px 10px 0;
    cursor: pointer;
}

.favori .fa-solid{
    color: var(--main-color);
    display: none;
    transition: opacity .5s;
    opacity : 0.5;
}

.favori:hover>.fa-solid{ 
    display: unset;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--second-color)), to(var(--main-color)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    background-clip: 0;
}

.favori:hover>.fa-regular{
    display: none;
}

.fa-solid:hover{
	opacity: 1;
}

#menu form{
    display: flex;
    flex-flow: column;
    margin-bottom: 30px;
}

#menu form fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin-bottom: 30px;
}

#menu form fieldset legend{
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    padding: 0 0 5px 0;
}

#menu form fieldset legend::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: var(--third-color);
    position: absolute;
    left: 0;
    bottom: 0;
}

#menu form input{
    position: absolute;
    left: -9999px;
}

#menu form label{
    margin: 10px 0px;
    padding: 10px 15px 10px 10px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--hard-shadow-color);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    cursor: pointer;
    overflow: hidden;
    /* max-width: 100%; */

}


/* EXPERIMENTAL */




#menu form .exp{
    background-color: #fff;
    padding: 1rem;
    display: flex;
    border-radius: .75rem;
    margin: 1rem 0;
    box-shadow: 0 4px 8px 0 var(--hard-shadow-color);
    overflow: hidden;
    cursor: pointer;

    max-width: 100%;
  }

#menu form .exp header{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

#menu form .exp header h4{
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#menu form .exp header p{
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#menu form .exp .prix{
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: .5rem;
}

#menu form .exp .checkmark{
    background-color: #99e2d0;
    margin: -1rem -7rem -1rem 1rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}

#menu form .exp:hover .checkmark{
    margin-right: -1rem;
}

#menu form .exp:hover .checkmark-block{
    animation: rotation .5s;
}

#menu form .exp .checkmark-block{
    height: 2rem;
    width: 2rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

@keyframes rotation{
    0% {
        transform: rotate(-280deg)
    }
    100%{
        transform: rotate(0)
    }
} 


/* FIN EXPMTL */











#menu form label h3{
    width: 100%;
    
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#menu form label p{
    max-width: 80%;
    margin: 0; 
    overflow: hidden; /* cache le texte qui dépasse */
    white-space: nowrap; /* pas de retour à la ligne */
    text-overflow: ellipsis; /*...*/
}

#menu form label .prix{
    font-weight: 900;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-left: 5px;
}

#menu form label .checkmark{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    margin: -1rem -5rem -1rem 1rem;

    background-color: var(--third-color);
}

#menu form label .checkmark-block{
    height: 16px;
    width: 16px;
    background-color: var(--white-color);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

#menu form label div i{
    font-size: 20px;
    color: var(--third-color)
}



#menu form button{
    background: linear-gradient(163deg, var(--second-color) 0%, var(--main-color) 61%); 
    border: none;
    color: var(--white-color);
    padding: 15px 32px;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 var(--hard-shadow-color);
    cursor: pointer;
    align-self: center;
    width: 60%;
}

#menu form button:hover{
    background: linear-gradient(163deg, var(--second-color) 27%, var(--main-color) 82%);
    box-shadow: 0 8px 16px 0 var(--hard-shadow-color);
    transform: scale(1.02);
}

footer{
    background-color: var(--darker-color);
    padding: 15px 15px 40px 15px;
}

footer img{
    width: 120px;
    filter: brightness(9999%); 
    margin: 10px 0;
}


footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul i{
    font-size: 15px;
    width: 18px;
}

footer ul li a{
    line-height: 2;
    color: white;
}

@media screen and (min-width: 1030px) {
    #menu{
        width: auto;
    }

    #menu form{
        flex-flow: row wrap;
        column-gap: 3%;
    }

    fieldset{
        width: 30%;
    }

    #menu form button{
        width: 30%;
        margin: auto;
    }

    #back-picture img{
        height: 430px;
    }
  }