@import 'mixins';
@import 'global';
@import 'footer';

// HEADER
#page_header{
    position: relative;

    .logo{
        @include flex;
        
        width: 100%;
        height: 75px;
        a{
            @include flex;
            img{
                width: 50%;
            }
        }
    }

    i{
        font-size: 20px;
        padding: 27px;
        position: absolute;
    }
}
// END HEADER

// COEUR
.favori{
    font-size: 30px;
    margin: 0 20px 10px 0;
    cursor: pointer;
    .fa-solid{
        color: $main-color;
        display: none;
        transition: opacity .5s;
        opacity : 0.5;
        &:hover{
            opacity: 1;
        }
    }
    &:hover{
        opacity: 1;
    }
    &:hover>.fa-solid{
        display: unset;
        background: -webkit-gradient(linear, left top, left bottom, from($second-color), to($main-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: 0;
    }
    &:hover>.fa-regular{
        display: none;
    }
}
// FIN COEUR

main{
    #back-picture{
        position: relative;
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
    #menu{
        background-color: $back-color;
        padding: 15px 15px 25px 15px;
        border-radius: 35px;
        margin-top: -50px;
        position: relative;
        
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;

        .nom-restaurant{
            @include flex($justify: space-between);
            h1{
                font-size: 2.6rem;
            }
        }

        form{
            display: flex;
            flex-flow: column;
            margin-bottom: 30px;

            fieldset{
                display: flex;
                flex-direction: column;
                border: none;
                padding: 0;
                margin-bottom: 30px;
                legend{
                    text-transform: uppercase;
                    font-weight: 400;
                    position: relative;
                    padding: 0 0 5px 0;
                    &::after{
                        content: "";
                        width: 30px;
                        height: 3px;
                        background-color: $third-color;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }
                input{
                    position: absolute;
                    left: -9999px;
                }
                label{
                    opacity : 0;

                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    
                    background-color: #fff;
                    padding: 1rem;
                    margin: 1rem 0;

                    border-radius: .75rem;
                    box-shadow: 0 4px 8px 0 $hard-shadow-color;
                    
                    overflow: hidden;
                    cursor: pointer;
                    max-width: 100%;
                    
                    header, header > *{
                        flex: 1;
                        white-space: nowrap; /* pas de retour à la ligne */
                        text-overflow: ellipsis; /* affiche "..." */
                        overflow: hidden; /* cache le texte qui dépasse */
                        margin: 0;
                    }

                    .prix{
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;

                        font-weight: 700;
                        padding-left: .5rem;
                    }

                    .checkmark{
                        @include flex;

                        background-color: $third-color;
                        width: 6rem;
                        margin: -1rem -7rem -1rem 1rem;

                        transition-duration: .5s;
                        
                        .checkmark-block{
                            @include flex;

                            height: 2.5rem;
                            width: 2.5rem;
                            background-color: #fff;
                            border-radius: 100px;
                            i{
                                font-size: 20px;
                                color: $third-color;
                            }
                        }
                    }
                    &:hover .checkmark{
                        margin-right: -1rem;
                    }
                    &:hover .checkmark-block{
                        animation: rotation .5s;
                    }

                    @keyframes rotation{
                        0% { transform: rotate(-280deg) }
                        100%{ transform: rotate(0) }
                    }

                    
                }
                // ANIMATION ON LOAD
                @keyframes onLoad {
                    0% {
                        opacity: 0%;
                        transform: translateY(15%);
                    }
                    50%{
                        transform: translateY(-15%);
                        opacity: 25%;
                    }
                    100% {
                        opacity: 100%;
                        transform: translateY(0);
                    }
                }
                
                .order1{
                    animation: onLoad 1s ease-in-out forwards;
                    animation-delay: 0ms;
                }
                
                .order2{
                    animation: onLoad 1s ease-in-out forwards;
                    animation-delay: 200ms;
                }
                
                .order3{
                    animation: onLoad 1s ease-in-out forwards;
                    animation-delay: 400ms;
                }
                
                .order4{
                    animation: onLoad 1s ease-in-out forwards;
                    animation-delay: 600ms;
                }
                
                .order5{
                    animation: onLoad 1s ease-in-out forwards;
                    animation-delay: 800ms;
                }
                
                .order6{
                    animation: onLoad 1s ease-in-out forwards;
                    animation-delay: 1000ms;
                }
                
                .order7{
                    animation: onLoad 1s ease-in-out forwards;
                    animation-delay: 1200ms;
                }
                
                .order8{
                    animation: onLoad 1s ease-in-out forwards;
                    animation-delay: 1400ms;
                }
                
                .order9{
                    animation: onLoad 1s ease-in-out forwards;
                    animation-delay: 1600ms;
                }

                .order10{
                    animation: onLoad 1s ease-in-out forwards;
                    animation-delay: 1800ms;
                }
                // FIN ANIMATION ON LOAD
            }
            #btn_commande{
                background: linear-gradient(163deg, $second-color 0%, $main-color 61%); 
                border: none;
                color: $white-color;
                padding: 15px 32px;
                border-radius: 22px;
                box-shadow: 0 4px 8px 0 $hard-shadow-color;
                cursor: pointer;
                align-self: center;
                width: 60%;
                
                &:hover{
                    background: linear-gradient(163deg, $second-color 27%, $main-color 82%);
                    box-shadow: 0 8px 16px 0 $hard-shadow-color;
                    transform: scale(1.02);
                }
            }

        }
            
    }
}

@media screen and (min-width: 1050px) {
    main{
        #back-picture img{
            height: 430px;
        }
        #menu{
            form{
                justify-content: center;
                flex-flow: row wrap;
                column-gap: 3%;
                fieldset{
                    width: 30%;
                }
                #btn_commande{
                    width: 30%;
                    margin: auto;
                }
            }
        }
    }
}